#
#  Environment configuration
#

# Proxy network
PROXY_NETWORK=proxy


#
#  Let's encrypt
#

# Enable letsencrypt (default: false)
#LETSENCRYPT_ENABLE=false

# Webmaster email for letsencrypt (required if enabled)
#LETSENCRYPT_EMAIL=


#
#  Self-signed certificate (optional)
#  The default HTTPS will use self-signed certificate.
#  You can customize it below.
#

# Country Name (2 letter code) [AU]:
#SELFSSL_COUNTRY=
# State or Province Name (full name) [Some-State]:
#SELFSSL_STATE=
# Locality Name (eg, city) []:
#SELFSSL_LOCALITY=
# Organization Name (eg, company) [Internet Widgits Pty Ltd]:
#SELFSSL_ORG=
# Organizational Unit Name (eg, section) []:
#SELFSSL_OUN=
# Common Name (e.g. server FQDN or YOUR name) []:
#SELFSSL_CN=
# Email Address []:
#SELFSSL_EMAIL=


#
#  Logrotate
#

# Enable logrotate for nginx logs (default: true)
#LOGROTATE_ENABLE=true
